*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #FF6633;
}

#biggest{
    width:100%;
    height: auto;
    margin: 0 auto;
}

li{
    list-style: none;
}

.dw{
    height: 30px;
    width: 1200px;
    margin: 10px auto;
    position: relative;
    
}

.icon-dingwei{
    font-size: 25px;
    color: #FF6633;
    position:absolute;
    top: 3px;
    left: 0px;
}

.weizhi{
    font-size: 12px;
    line-height: 30px;
    position: absolute;
    left: 26px;
}

.denglu{
    font-size: 12px;
    line-height: 30px;
    position:absolute;
    right: 18%;
}

.gerenzhongxin{
    font-size: 12px;
    line-height: 30px;
    position:absolute;
    right: 11%;
}

.shanghufuwu{
    font-size: 12px;
    line-height: 30px;
    position:absolute;
    right: 5%;
}

.bangzhuzhongxin{
    font-size: 12px;
    line-height: 30px;
    position:absolute;
    right: 0%;
}

.icon-daosanjiao{
    color: #a39a9ab9;
    font-size: 1px;
}

.daohang{
    height: 140px;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    border-bottom:#ff6b37 2px solid;
}
.header{
    width: 1200px;
    margin: 10px auto;
    position: relative;
}
.logo{
    background: url(../pic/logo2x.png) no-repeat;
    background-size: 100%;
    height: 79px;
    width: 287px;
    position: absolute;
    top: 15px;
    display: inline-block;
}



.sousuo{
    width: 50%;
    height: 33px;
    border: 2px solid #ff6b37;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 329px;
    display: inline-block;
}

.ss{
    width: 50%;
    height: 100%;
    border-style: none;
    font-family: "微软雅黑";
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #D8D8D8;
}

.icon-sousuo{
    margin-left: 5px;
    font-size: 0.9em;
    color: #D8D8D8;
}

.anniu{
    display: block;
    width: 20%;
    height: 110%;
    color: #FFFFFF;
    background-color: #ff6b37;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    float: right;
    position: relative;
    top: -2px;
    right: -2px;
}

.sousuo a{
    color: #FFFFFF;
}

.anniu:link{
    color: #FFFFFF;
}

.aanniu:visited{
    color: #FFFFFF;
}

.anniu:hover{
    color: #FFFFFF;
}

.header_tow{
    position: absolute;
    margin: 10px 0;
    top: 98px;
}
.fl{
    display: inline-block;
    width: 210px;
    height: 33px;
    line-height: 33px;
    background-color: #ff6b37;
    color: #fff;
    padding: 0px 0px 0 20px;
    font-size: 16px;
    font-weight: bold
}
.dz{
    display: inline-block;
    width: 210px;
    height: 33px;
    line-height: 33px;
    color: #000;
    padding: 0px 2px 1px 35px;
    font-size: 16px;
    font-weight: bold;

}

.neirong{
    width: 1200px;
    height: 5.3vh;
    margin: 1.2vh auto;
    background-color: #ffffff;
}

.p1{
    display: block;
    width: 15vw;
    height: 5.3vh;
    font-size: 0.8rem;
    line-height: 5.3vh;
    margin-left: 1.4vw;
}

.lb{
    width:1200px;
    height:100%;
    margin: 1.2vh auto;
    background-color: #ffffff;
}

.xlb{
    width: 1200px;
    height: 5.3vh;
    border-bottom: #EEEEEE 1px solid;
    position: relative;
}

.input1{
    margin-top: 1.8vh;
    margin-left: 1.4vw;
}

.span1{
    font-size: 0.8rem;
    position: relative;
    bottom: 0.2vh;
    cursor: pointer;
}

.xlb1{
    height: 2.5vh;
    width: 3.5vw;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.4vh;
    line-height: 2.5vh;
    float: right;
    border-left: 1px #D8D8D8 solid;
    cursor: pointer;
}

.xlb2{
    height: 2.5vh;
    width: 5vw;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.4vh;
    line-height: 2.5vh;
    float: right;
    border-left: 1px #D8D8D8 solid;
}

.xlb3{
    height: 2.5vh;
    width: 3.5vw;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.4vh;
    line-height: 2.5vh;
    float: right;
    border-left: 1px #D8D8D8 solid;
}

.xlb4{
    height: 2.5vh;
    width: 3.5vw;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.4vh;
    line-height: 2.5vh;
    float: right;
    border-left: 1px #D8D8D8 solid;
}

.xlb5{
    height: 2.5vh;
    width: 3.5vw;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1.4vh;
    line-height: 2.5vh;
    float: right;
}

.xlb2:hover,.xlb3:hover,.xlb4:hover,.xlb5:hover{
    color: #FF6633;
    cursor: pointer;
}


.lb1{
    width: 1200px;
    height: 290px;
    border-bottom: #EEEEEE 1px solid;
}

.lb1:hover{
    background-color: #F8F8F8;
    border-right: #eee 2px solid;
    border-left: #eee 2px solid;
}

.pic1{
    width: 300px;
    height: 250px;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
}

.div1{
    display: inline-block;
    width: 890px;
    height: 258px;
    margin-top: 1vh;
    left: 30px;
    position: relative;
}
.p2{
    text-align: left;
    position: absolute;
    top: 14px;
}
.div11{
    width: 300px;
    left: 0;
    top: 39px;
    position: absolute;
}

.span2,.p3{
    font-size: 0.8rem;
    color: #999999;
}

.span3{
    font-size: 0.5rem;
    color: #E8E8E8;

}

.div12{
    width: 300px;
    left: 0;
    top: 80px;
    position: absolute;
}

.div13{
    width: 300px;
    left: 0;
    top: 120px;
    position: absolute;
}
.jw{
    width: 100%;
    margin: auto;
    position: relative;
    height: 70px;
    background-color: #F0F0F0;
    overflow: hidden;
   user-select: none;
}

.gywm{
    width: 1200px;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.spanx{
    font-size: 0.8rem;
    color: #8C8C8C;
    margin-left: 1.1rem;
}

.spanx:hover{
    color: #FF6633;
    cursor: pointer;
}

.pp,.a_{
    font-size: 0.7rem;
    color: #8C8C8C;
}

.pp{
    margin-left: 3.7vw;
    position: relative;
    top: 1vh;
}

.a_:link{
    text-decoration: none;
    color: #8C8C8C;
}

.a_:visited{
    text-decoration: none;
    color: #8C8C8C;
}

.a_:hover{
    color: #FF6633;
}

#fhdb{
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    background-size: 38px 38px;     
    border-radius: 30%;
    border-style: none;
}